@import 'utils';

.section_contact {
  @include responsive();
  text-align: center;
  margin: 10rem auto;
  background: #fff;
  h1{
    margin:3rem auto ;
  }

  .contact_container{
    text-align: initial;
    display: flex;
    margin: 3rem 0;
    padding: 0 1rem;
    .map_area {
      width:50%;
      background: #ddd;
      height: 30rem;
      padding:10rem;
    }

    .contact_from{
      padding-left:2rem;

      span{
        margin-top:1rem;
      }

    }


  }





  form * {
    display: block;
  }

}