@import 'utils';



.section_portfolio{
  

  background: #fff;
  
  
  
  margin: 3rem auto 5rem;
  
  .responsive{
    @include responsive();
    h1{
      text-align: center;
      margin: 10rem auto 5rem;
    }
  
  }
  
  



}